.bdtt {
  border: solid teal 0.5px;
  background-color: aqua;
  background-color: chartreuse;
}

.background-image {
  background-position: center;
  background-repeat: space;
  background-size: cover;
}
.login form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 30%;
  min-width: 300px;
  height: 35%;
  min-height: 200px;
}
.login form label {
  margin-top: 2%;
  margin-bottom: 1%;
}
.login form button {
  margin: auto 0;
}

.campeonato {
  padding: 2%;
  padding-top: 4%;
}
.campeonato input {
  margin-left: 2%;
}
.campeonato textarea {
  height: 100px;
}
.search {
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 2% 0;
}
.search img {
  height: 15px;
  margin-left: 2%;
}
.search input {
  height: 20px;
  width: 95%;
  border-radius: 5px;
}
.search input:focus {
  outline: none;
}
.date-championships {
  border: 2px solid black;
  border-radius: 5px;
}
.championship-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2%;
}
.championship-card .link {
  width: 150px;
  margin: 2% 1%;
  text-align: center;
  text-decoration: none;
}
.championship-card div {
  border: 2px solid black;
  height: 100px;
  margin-bottom: 2%;
}
.championship-card h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
