.bdtt {
  border: solid teal 0.5px;
  background-color: aqua;
  background-color: chartreuse;
}

.background-image {
  background-position: center;
  background-repeat: space;
  background-size: cover;
}
.login form {
  width: 30%;
  min-width: 300px;
  height: 35%;
  min-height: 200px;
}

/*//////////////////////////////////////*/

.championship-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2%;
}
.championship-card .link {
  width: 150px;
  margin: 2% 1%;
  text-align: center;
  text-decoration: none;
}
.championship-card div {
  border: 2px solid black;
  height: 100px;
  margin-bottom: 2%;
}
.championship-card h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
